body {
  height: 500px;
  width: 635px;
}
.option {
  height: 100px;
  width: 200px;
  float: left;
  margin: 5px;
}
.check {
  width: 200px;
  height: 100px;
  position: absolute;
  float: left;
  margin: auto;
  background-color: #9e9e9e;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 2px solid transparent;
  transition: all .3s;
  cursor: pointer;
}
.check:after {
  position: absolute;
  float: left;
  opacity: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.check:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
input {
  display: none;
}
input:checked + .avclub {
  background-color: #1C263C;
}
input:checked + .gamespot {
  background-color: #ffcc00;
}
input:checked + .theguardian {
  background-color: #0A5787;
}
input:checked + .ign {
  background-color: #CC0000;
}
input:checked + .nme {
  background-color: #CC0000;
}
input:checked + .pitchfork {
  background-color: #2E2E2E;
}
input:checked + .residentadvisor {
  background-color: #ACC500;
}
input:checked + .rogerebert {
  background-color: #175968;
}
input:checked + .rollingstone {
  background-color: #CC0000;
}
input:checked + .xlr8r {
  background-color: #2E2E2E;
}
button {
  font: 11px BlinkMacSystemFont;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  line-height: 4;
  -webkit-appearance: none;
  height: 60px;
  width: 624px;
  background: #9e9e9e;
  float: top;
  margin: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 2px solid transparent;
  transition: all .4s;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}