/*  */
div.grade.color-me {
	visibility: hidden;
}
/* Front page - TV Club review box letter grades */
section.tv-reviews.right-col-offset div.letter.type-link.tv {
	visibility: hidden;
}
section.tv-reviews.right-col-offset ul.unstyled h1 {
	padding: 0 0 0 0;
}
/* Front page - Recent reviews letter grades */
div.reviews div.grade.color-me {
	visibility: hidden;
}
div.reviews li.rating div.letter {
	visibility: hidden;
}
/*  */
div.section-reviews li.rating div.letter {
	visibility: hidden;
}
/* Hides "sort by grade" tab */
div.section-reviews ul.pilled.tab-navigator li:nth-child(2) {
	visibility: hidden;
}