/* Review - score box */
.score-box {
  visibility: hidden;
}
/* Sitewide - BNM text */
.bnm {
  display: none !important;
}
/* Sitewide - BNM corner arrows */
.with-notch:before {
  content: none !important;
}
.with-notch:after {
  content: none !important;
}
/* Reviews section - BNM/8.0+ navigation links */
nav#section-menu.reviews-navigation.section-links ul li:nth-child(n+3):nth-child(-n+5) {
  display: none;
}
/* Sitewide - BNM top navigation bar link */
nav.primary-nav ul li:nth-child(3) {
  display: none;
}