/* Reviews page - latest reviews list scores */
a.js-event-tracking div.media-well.media-well--review {
  display: none;
}
/* Front page/reviews page - score circles */
div.gs-score {
  display: none;
}
/* Front page - right column review list scores */
dl.game-score.align-vertical--child {
	border: none;
  visibility: hidden;
}
/* Front page - Right side review "score" column text */
span.reviews-list__header-score {
  visibility: hidden;
}
/* Main review - Bottom score */
dl.breakdown.breakdown-score dt.review-score {
  visibility: hidden;
}
/* Main review - Bottom score text */
dl.breakdown.breakdown-score dd.score-word {
  visibility: hidden;
}
/* Game page - user reviews section */
div#object-stats-wrap div.pod-objectStats-reviews {
  display: none;
}
/* Game page - Score box */
.kubrick-lead--gamespace .reviewObject {
	display: none !important;
}
/* Game page - Player review average/breakdown */
section.pod.pod-reviewBreakdown {
	display: none;
}
/* Game page - user review scores */
li.media.media-game.userReview-list__item div.media-well.media-well--review {
	display: none;
}